[run]
branch = True
source = cansen

[report]
exclude_lines =
    if self\.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    cansen/tests/*
    setup.py
    cansen/_version.py
    */tmp/*

[html]
directory = htmlcov
